
header{
	background-image: url("1.jpg");
	opacity: 0.6;
	height: 550px;
	text-align: center;
}
.titulo{
	font-family: "Times New Roman", Times, serif;
	font-size: 100px;
	background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}
[class*="col-"] {
 	width: 100%;
}

@media only screen and (min-width: 600px) {
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
	  /* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}
.tit {
	background-color: #333;
	color: #ffffff;
	height: 60px;
	font-size: 300%;
}
.reg {
	text-align: center;
	font-size: large;
	height: 100px;

}
.sig{
	background-color: #000000;
	color: #ffffff;
	height: 70px;
	font-size: 350%;
	text-align: center;

}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  width: 100%;
  background-color: #c4142e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #d12a43;
}
.jue {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.resu{
	background-color: #d6962f;
	color: #403c36;
	height: 60px;
	font-size: 300%;
}
footer{
	background-color: #000000;
	color: #ffffff;
	height: 150px;
	font-size: 100%;
	text-align: center;
}
nav {
	position: fixed;
	float: left;
	z-index: 100;
}